<form name="editForm" action="/api/edit/{{product.id}}">

  <div class="mb-3">
    <label for="exampleFormControlInput1" class="form-label">Edit Adv</label>
    <input required name="title" type="text" class="form-control" id="exampleFormControlInput1" placeholder="{{product.title}}">
    <input required name="price" type="text" class="form-control" id="exampleFormControlInput1" placeholder="{{product.price}}">
    <input required name="discount" type="text" class="form-control" id="exampleFormControlInput1" placeholder="{{product.discount}}">
    <input name="latitude" type="text" class="form-control" id="exampleFormControlInput1" placeholder="latitude">
    <input name="longitude" type="text" class="form-control" id="exampleFormControlInput1" placeholder="longitude">


    <select required name="categoryName" class="form-select form-select-sm" aria-label=".form-select-sm example">
      <option disabled selected value="">Choose category</option>
      {{#each categories}}
      <option value="{{this.id}}">{{this.title}}</option>
      {{/each}}
    </select>

    <input type="submit" class="form-control btn-primary" value="Submit">
  </div>

</form>
